@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  @screen md {
    font-size: 16px;
  }
}

body {
  color: #1a2129;
  background: #fff;
  font-family: var(--font-roboto);
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #1a2129 !important;
    background: #fff !important;
  }
}

.default-text {
  color: #1a2129;
}

.content-text {
  color: #5e6b74;
  font-family: var(--font-quicksand);
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reveal-card {
  position: relative;
  opacity: 0.2;
  scale: 0.9;
  animation: reveal-card linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
}

.zoomin-card {
  position: relative;
  opacity: 0.5;
  scale: 1.2;
  animation: zoomin-card linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
}


@keyframes reveal-card {
  from {
    opacity: 0.2;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes zoomin-card {
  from {
    opacity: 0.5;
    scale: 1.2;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
